In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("datasets/pp-2024.csv")

In [3]:
dataset.head()

,{1A0C5C63-B5B4-7CBE-E063-4804A8C06C96},244000,2024-04-23 00:00,S8 9HT,S,N,L,88,Unnamed: 8,UPPER ALBERT ROAD,Unnamed: 10,SHEFFIELD,SHEFFIELD.1,SOUTH YORKSHIRE,A,A.1
0,{1A0C5C63-B5B5-7CBE-E063-4804A8C06C96},121000,2024-04-11 00:00,S36 1FW,T,N,F,43,NaN,VICTORIA ROAD,STOCKSBRIDGE,SHEFFIELD,SHEFFIELD,SOUTH YORKSHIRE,A,A
1,{1A0C5C63-B5B6-7CBE-E063-4804A8C06C96},185000,2024-04-19 00:00,DN3 2AA,T,N,F,4,NaN,MANSFIELD CRESCENT,ARMTHORPE,DONCASTER,DONCASTER,SOUTH YORKSHIRE,A,A
2,{1A0C5C63-B5B9-7CBE-E063-4804A8C06C96},353000,2024-04-26 00:00,S6 5JB,S,N,L,20,NaN,STANWOOD CRESCENT,NaN,SHEFFIELD,SHEFFIELD,SOUTH YORKSHIRE,A,A
3,{1A0C5C63-B5BA-7CBE-E063-4804A8C06C96},105000,2024-05-10 00:00,S26 4TX,T,N,F,14,NaN,KING STREET,SWALLOWNEST,SHEFFIELD,ROTHERHAM,SOUTH YORKSHIRE,A,A
4,{1A0C5C63-B5BB-7CBE-E063-4804A8C06C96},200000,2024-05-03 00:00,S8 8QQ,T,N,F,34,NaN,WELLCARR ROAD,NaN,SHEFFIELD,SHEFFIELD,SOUTH YORKSHIRE,A,A

In [4]:
df = pd.DataFrame(dataset)